@import "../../../colors";

.file-item {
  &-container{
    svg{
      margin: auto;
    }
    display: flex;
    flex-direction: column;
  }
  &-capture{
    user-select: none;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}
