@import "../../../colors";

.file-item {
  &-container{
    svg{
      margin: auto;
    }
    display: flex;
    flex-direction: column;
  }
  &-capture{
    margin: 6px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
    user-select: none;
    width: 100px;
    white-space: break-spaces;
  }
}
