@import "../../colors.scss";
$height:80px;
.header{
  &-logo{
    white-space: nowrap;
    margin-left: 30px;
    color: $green;
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    line-height: $height;
  }
  &-nav{
    display: inline-block;
    width: 700px;
    justify-content: space-between;
  }
  &-menu-container{
    margin-right: 30px;
  }
  &-link{
    &:hover{
      background: rgba($grey-2, 0.8);
      border-radius: 16px;
      cursor: pointer;
    }
    border: 1px solid $grey-1;
    white-space: nowrap;
    &_active{
      border: 1px solid white;
      border-radius: 16px;
    }
    font-size: 18px;
    padding: 10px;
    line-height: $height;
    text-decoration: none;
    color: $white
  }
  color: $white;
  &-container{
    color: $white;
    justify-content: space-between;
    display: flex;
    height: $height;
  }
}
