@import "../../colors.scss";
$height:80px;
.header{
  &-logo{
    margin-left: 60px;
    color: $green;
    text-decoration: none;
    font-weight: 300;
    font-size: 30px;
    line-height: $height;
  }
  &-header-nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
  &-menu-container{
    margin-right: 60px;
  }
  &-link{
    border: 2px solid $grey-1;
    &_active{
      border: 2px solid white;
      border-radius: 25px;
    }
    font-size: 24px;
    padding: 10px;
    line-height: $height;
    text-decoration: none;
    color: $white
  }
  color: $white;
  &-container{
    color: $white;
    justify-content: space-between;
    display: flex;
    height: $height;
  }
}
