@import "colors";

.App {
  text-align: center;
}

.theme {
  @media screen and (max-width: 1023px) {
    padding-bottom: 50px;;
  }
}

.Toastify__toast-body {
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.contacts-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.contacts {
  width: 500px;
  margin: auto;
}

.connect-page-link {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: $white;

  &:hover {
    color: $pink;
  }

  @media screen and (max-width: 1023px) {
    bottom: 60px;
    left: 16px
  }
}